<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <%- include('./partials/head') %>
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
          rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined"
          rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round"
          rel="stylesheet">


    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp"
          rel="stylesheet">


    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone"
          rel="stylesheet">

</head>
<body class="pag">

<div class="regbar">
    <a href="/register">Register</a>
</div>

<div class="regbar" >
    <div class="reg"> You are not authenticated</div>
</div>
<div class="formcontainer">
    <form class="formlogin" action="/login" method="post">
        <div class="formpart">
            <label><i class="material-icons">person</i> Username:</label>
            <input type="text" name="username" placeholder="Username">
        </div>
        <div class="formpart">
            <label><i class="material-icons">vpn_key</i>Password:</label>
            <input type="password" name="password" placeholder="Password">
        </div>
        <div class="formpart">
            <button type="submit" value="Submit">Submit</button>
        </div>
    </form>
</div>
</body>
</html>