<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pedir readmicao</title>
    <%- include('./partials/head') %>
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
          rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined"
          rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round"
          rel="stylesheet">


    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp"
          rel="stylesheet">


    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone"
          rel="stylesheet">
</head>
<body class="pag">

<div class="topbar">
</div>
<div class="userbar">
    <div class="left">
        <form id="index" method="get" action="http://localhost:3000/"><button><i class="material-icons">home</i></button></form>
        <div class="profpic" id="imagem"></div>
        <div class="name"><span id="username"></span></div>
        <form id="editar" method="get" action="/editar"><button><i class="material-icons">mode</i></button></form>
    </div>
    <div class="right">
        <form id="aceder" method="get" action="/aceder"><button value="aceder" type="submit" ><i class="material-icons">groups</i></button></form>
        <form id="logout" method="post" action="/logout"><button value="Log out" type="submit"><i class="material-icons">logout</i></button></form>

    </div>
</div>
<form class="formcontainer2" action="/pedirReadmicao" method="post">
    <input type="text" name="username" id="usernameID" hidden>
    <div class="formpart" id="escolherChat"></div>
    <div class="formpart" id="pedir readmicao"></div>
</form>


<script>
    function chatsToCheckbox(chats){
        if(chats.length!==0){
            for(var i=0;i<chats.length;i++){
                var chatPendente = document.createElement("p");
                chatPendente.setAttribute("id",i);
                chatPendente.setAttribute("class","formpart2");
                chatPendente.innerText = chats[i].nome;
                document.getElementById("escolherChat").appendChild(chatPendente);
                var chatPendente = document.createElement("input");
                chatPendente.setAttribute("class","formpart2")
                chatPendente.setAttribute("name","chatsReadmicao");
                chatPendente.setAttribute("value",chats[i].nome);
                chatPendente.setAttribute("type","checkbox");
                document.getElementById(i).appendChild(chatPendente);
            }
            var chatPendente = document.createElement("input");
            chatPendente.setAttribute("class","formpart2")
            chatPendente.setAttribute("value","Pedir Readmicao");
            chatPendente.setAttribute("type","submit");
            document.getElementById("pedir readmicao").appendChild(chatPendente);
        }
        else{
            var chatPendente = document.createElement("p");
            chatPendente.innerText = "Não saiu de nenhum chat";
            chatPendente.setAttribute("class","formpart2");
            document.getElementById("escolherChat").appendChild(chatPendente);

        }
    }
</script>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
    const usernameSpan = document.getElementById("username");

    socket.on('connect', () => {

        socket.emit('whoami', (username) => {
            usernameSpan.innerText = username;
            document.getElementById("usernameID").setAttribute("value",username);
        });
        socket.emit('looklike', (imagem) => {
            var img=document.createElement('img');
            img.setAttribute('src','/uploads/'+imagem[0].imagem);
            document.getElementById('imagem').appendChild(img);
        });

        socket.emit('pedidosReadmicao', (chats) => {
            chatsToCheckbox(chats);
        });
    });
</script>
</body>
</html>